NEXT_PUBLIC_SITE_URL=https://datavoices.com.ar
NEXT_PUBLIC_API_BASE_URL=https://ceciliabot.datavoices.com.ar/api
NEXT_PUBLIC_CONTACT_EMAIL=hola@datavoices.com.ar
NEXT_PUBLIC_WHATSAPP_NUMBER=5491173709382
